---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
export interface Props {
	title: string;
	description: string;
}
const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description}>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://foundation.camino.network/">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Camino Network Foundation">
		<meta property="og:description" content={description}>
		<meta property="og:image" content="https://foundation.camino.network/social.png">
	
		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Camino Network Foundation">
		<meta name="twitter:description" content={description}>
		<meta name="twitter:image" content="https://foundation.camino.network/social.png">

		<!-- Cookie Consent by TermsFeed Privacy Generator https://www.TermsFeed.com -->
		<script is:inline type="text/javascript" src="https://www.termsfeed.com/public/cookie-consent/4.0.0/cookie-consent.js" charset="UTF-8"></script>
		<script is:inline type="text/javascript" charset="UTF-8">
			document.addEventListener('DOMContentLoaded', function () {
			cookieconsent.run({"notice_banner_type":"simple","consent_type":"express","palette":"dark","language":"en","page_load_consent_levels":["strictly-necessary"],"notice_banner_reject_button_hide":false,"preferences_center_close_button_hide":false,"page_refresh_confirmation_buttons":false,"website_name":"Camino Network Foundation","website_privacy_policy_url":"https://camino.network/privacy-policy/"});
			});
		</script>

		<!-- Google Analytics -->
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script is:inline type="text/plain" cookie-consent="tracking" async src="https://www.googletagmanager.com/gtag/js?id=G-R3FH5Q4233"></script>
		<script is:inline type="text/plain" cookie-consent="tracking">
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-R3FH5Q4233');
		</script>
		<!-- end of Google Analytics-->

	</head>
	<body class="bg-white text-gray-800 subpixel-antialiased font-light">
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
.termsfeed-com---nb .cc-nb-main-container {
	padding: 1.5rem;
}
.termsfeed-com---palette-dark.termsfeed-com---nb {
	box-shadow: 0 0 24px rgba(0,0,0,.33);
	background-color: #fff;
	color: #333;
}
.termsfeed-com---palette-dark .cc-nb-title,
.termsfeed-com---palette-dark .cc-nb-text {
	font-size: 14px;
}
.termsfeed-com---palette-dark .cc-nb-text {
	line-height: 20px;
	letter-spacing: -.3px;	
	color: #333;
}
.termsfeed-com---palette-dark .cc-nb-title {
	font-size: 22px;
	font-weight: 300;
	letter-spacing: -.5px;
}
.termsfeed-com---reset p {
	margin-bottom: 0.5rem;
}
.termsfeed-com---palette-dark .cc-nb-okagree,
.termsfeed-com---palette-dark .cc-cp-foot-save {
	color: #fff;
	background-color: #020617;
}
.termsfeed-com---palette-dark .cc-nb-reject {
	color: #fff;
	background-color: #666;
}
.termsfeed-com---nb .cc-nb-okagree, .termsfeed-com---nb .cc-nb-reject, .termsfeed-com---nb .cc-nb-changep {
	font-weight: normal;
}
.termsfeed-com---nb-simple {
	max-width: 100% !important;
}
@media screen and (min-width: 600px) {
	.termsfeed-com---nb-simple {
		border-radius: 1rem 0 0 0;
		max-width: 70% !important;
	}
}
@media screen and (min-width: 980px) {
	.termsfeed-com---nb-simple {
		max-width: 40% !important;
	}
}
</style>
