---
export interface Props {
	title: string;
	description: string;
}
const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description}>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://www.foundation.camino.network/">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Camino Network Foundation">
		<meta property="og:description" content="{{description}}">
		<meta property="og:image" content="https://www.foundation.camino.network/social.png">
	
		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Camino Network Foundation">
		<meta name="twitter:description" content="{{description}}">
		<meta name="twitter:image" content="https://www.foundation.camino.network/social.png">
	</head>
	<body class="bg-white text-gray-800 subpixel-antialiased">
		<slot />
	</body>
</html>
<style is:global>
</style>
